.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.25rem solid darkgreen;
  min-width: 100vw;
}

.navigation a {
  color: darkgreen;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem;
}

.navigation a:hover {
  text-decoration: underline;
}
